.div-output{
    
    background:white; 
    width: 100%; 
    
    
}
.card-header{
    background: #f5f5f0;
    border: solid 1px #D3D3D3;
    border-radius: 5px;
    color: #1C1C1C;
}

.card-header b{
    font-size: 12px;
}

.modal-content{
    text-align: justify;    
    margin: 0 auto; 
    color: black !important;
    font-weight: lighter;
}

.fa-plus-square-o, .fa-minus-square-o{
    color:#ff4500; 
    cursor: pointer;
}

.fa-question-circle-o{
    color:#ff4500; 
    cursor: pointer;
    margin-top: -5px;
    margin-right: -5px;
    float: right
}

a[aria-expanded=false] .fa-minus-square-o {
    display: none;
  }
a[aria-expanded=true] .fa-plus-square-o {
    display: none;
  }

.collapse{
    color: #747373;
    font-size: 12px;
}

.collapsing{
    color: #747373;
    font-size: 12px;
}

.modal-body{
    color: black !important;
    font-size: 18px;
}

.card-text{
    color: #747373 !important;
    font-size: 12px;
}

.modal-dialog{
    max-width: 800px;
}

.card-title{
    font-size: 18px;
}

.text-center{
    padding: 10px;
}

h5{
    color:#26569b;
    font-weight: bold;
}