.div-output{
    
    background:white; 
    width: 100%; 
    
    
}
.card-header{
    background: #DCDCDC;
    border: solid 1px #D3D3D3;
    border-radius: 5px;
    color: #1C1C1C;
    font-weight: bold;
}

.modal-content{
    text-align: justify;    
    margin: 0 auto; 
    color: black !important;
    font-weight: lighter;
}

.fa-plus-square-o, .fa-minus-square-o, .fa-question-circle-o{
    color:#ff4500; 
    cursor: pointer;
}

a[aria-expanded=false] .fa-minus-square-o {
    display: none;
  }
a[aria-expanded=true] .fa-plus-square-o {
    display: none;
  }

.collapse{
    color: #747373;
}

.modal-body{
    color: black !important;
}